<a href="https://colab.research.google.com/github/xNIKITOSx23/python-libraries/blob/main/Lecture_4_Numpy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np

In [ ]:
a = np.array([0, 2, 1])
print(a, type(a))
b = np.array([1, 4, 5, 8],
float)
print(b, type(b))

[0 2 1] <class 'numpy.ndarray'>
[1. 4. 5. 8.] <class 'numpy.ndarray'>

In [ ]:
b = np.array([1, 4, 5, 8],
float)
print(b, type(b))
print(b[:2])
print(b[3])
b[0]=20
print(b)

[1. 4. 5. 8.] <class 'numpy.ndarray'>
[1. 4.]
8.0
[20.  4.  5.  8.]

In [ ]:
a = np.array([[1, 2, 3], [4, 5, 6]],
float)
print(a)
print(a[0,0])
print(a[0,1])

[[1. 2. 3.]
 [4. 5. 6.]]
1.0
2.0

In [ ]:
a = np.array([[1, 2, 3], [4, 5, 6]],
float)
print(a)
print(a[1,:])
print(a[:,2])
print(a[-1:, -2:])

[[1. 2. 3.]
 [4. 5. 6.]]
[4. 5. 6.]
[3. 6.]
[[5. 6.]]

In [ ]:
a = np.array([[1, 2, 3], [4, 5, 6]],
float)
print(a)
print(a.shape)

[[1. 2. 3.]
 [4. 5. 6.]]
(2, 3)

In [ ]:
a = np.array([[1, 2, 3], [4, 5, 6]],
float)
print(a)
print(a.dtype)

[[1. 2. 3.]
 [4. 5. 6.]]
float64

In [ ]:
a = np.array([[1, 2, 3], [4, 5, 6]],
float)
print(a)
print(len(a))
print(len(a[0]))

[[1. 2. 3.]
 [4. 5. 6.]]
2
3

In [ ]:
a = np.array([[1, 2, 3], [4, 5, 6]],
float)
print(a)
print(2 in a)
print(0 in a)

[[1. 2. 3.]
 [4. 5. 6.]]
True
False

In [ ]:
a = np.array(range(10),
float)
print(a)
a = a.reshape((5, 2))
print(a)
print(a.shape)

[0. 1. 2. 3. 4. 5. 6. 7. 8. 9.]
[[0. 1.]
 [2. 3.]
 [4. 5.]
 [6. 7.]
 [8. 9.]]
(5, 2)

In [ ]:
a = np.array([1, 2, 3],
float)
b = a
c = a.copy()
a[0] = 0
print(a)
print(b)
print(c)
a[0]=7
print(b)
print(b)
print(c)

[0. 2. 3.]
[0. 2. 3.]
[1. 2. 3.]
[7. 2. 3.]
[7. 2. 3.]
[1. 2. 3.]

In [ ]:
a = np.array([1, 2, 3],
float)
print(a.tolist())
print(list(a))

[1.0, 2.0, 3.0]
[1.0, 2.0, 3.0]

In [ ]:
a = np.array([1, 2, 3],
float)
s = a.tostring()
print(s)
print(np.fromstring(s))

b'\x00\x00\x00\x00\x00\x00\xf0?\x00\x00\x00\x00\x00\x00\x00@\x00\x00\x00\x00\x00\x00\x08@'
[1. 2. 3.]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: DeprecationWarning: tostring() is deprecated. Use tobytes() instead.
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: DeprecationWarning: The binary mode of fromstring is deprecated, as it behaves surprisingly on unicode inputs. Use frombuffer instead
  """

In [ ]:
a = np.array([1, 2, 3],
float)
print(a)
a.fill(20)
print(a)

[1. 2. 3.]
[20. 20. 20.]

In [ ]:
a = np.array(range(6), float).reshape((2,
3))
print(a)
print("Transpose:")
print(a.transpose())

[[0. 1. 2.]
 [3. 4. 5.]]
Transpose:
[[0. 3.]
 [1. 4.]
 [2. 5.]]

In [ ]:
a = np.array([[1, 2, 3], [4, 5, 6]],
float)
print(a)
print("Flatten:")
b=a.flatten()
print(b)

[[1. 2. 3.]
 [4. 5. 6.]]
Flatten:
[1. 2. 3. 4. 5. 6.]

In [ ]:
a = np.array([1,2], float)
b = np.array([3,4,5,6],
float)
c = np.array([7,8,9], float)
print("A:")
print(a)
print("B")
print(b)
print("C")
print(c)
print("Concatenate:")
d=np.concatenate((a, b, c))
print(d)

A:
[1. 2.]
B
[3. 4. 5. 6.]
C
[7. 8. 9.]
Concatenate:
[1. 2. 3. 4. 5. 6. 7. 8. 9.]

In [ ]:
a = np.array([[1, 2], [3, 4]],
float)
b = np.array([[5, 6], [7,8]], float)
print("A:")
print(a)
print("B")
print(b)
print("Concatenate:")
c=np.concatenate((a,b))
print(c)
print("Concatenate axis=0:")
d=np.concatenate((a,b), axis=0)
print(d)
print("Concatenate axis=1:")
e=np.concatenate((a,b), axis=1)
print(e)

A:
[[1. 2.]
 [3. 4.]]
B
[[5. 6.]
 [7. 8.]]
Concatenate:
[[1. 2.]
 [3. 4.]
 [5. 6.]
 [7. 8.]]
Concatenate axis=0:
[[1. 2.]
 [3. 4.]
 [5. 6.]
 [7. 8.]]
Concatenate axis=1:
[[1. 2. 5. 6.]
 [3. 4. 7. 8.]]

In [ ]:
import numpy as np
a = np.array([[1, 2], [3, 4]],
float)
b = np.array([[5, 6], [7,8]], float)
print("A:")
print(a)
print("B:")
print(b)
print("a[:,np.newaxis]:")
print(a[:,np.newaxis])
print("a[:,np.newaxis].shape:")
print(a[:,np.newaxis].shape)
print("[np.newaxis,:]")
print( b[np.newaxis,:])
print("b[np.newaxis,:].shape")
print(b[np.newaxis,:].shape)

A:
[[1. 2.]
 [3. 4.]]
B:
[[5. 6.]
 [7. 8.]]
a[:,np.newaxis]:
[[[1. 2.]]

 [[3. 4.]]]
a[:,np.newaxis].shape:
(2, 1, 2)
[np.newaxis,:]
[[[5. 6.]
  [7. 8.]]]
b[np.newaxis,:].shape
(1, 2, 2)

In [ ]:
a=np.arange(5, dtype=float)
print(a)
print()
b=np.arange(1, 10, 2,
dtype=int)
print(b)

[0. 1. 2. 3. 4.]

[1 3 5 7 9]

In [ ]:
a=np.ones((2,3),
dtype=float)
b=np.zeros(7, dtype=int)
print(a)
print(b)

[[1. 1. 1.]
 [1. 1. 1.]]
[0 0 0 0 0 0 0]

In [ ]:
a = np.array([[1, 2, 3], [4, 5, 6]],
float)
b=np.zeros_like(a)
c= np.ones_like(a)
print("A:")
print(a)
print("B:")
print(b)
print("C:")
print(c)

A:
[[1. 2. 3.]
 [4. 5. 6.]]
B:
[[0. 0. 0.]
 [0. 0. 0.]]
C:
[[1. 1. 1.]
 [1. 1. 1.]]

In [ ]:
a=np.identity(4,
dtype=float)
print(a)

[[1. 0. 0. 0.]
 [0. 1. 0. 0.]
 [0. 0. 1. 0.]
 [0. 0. 0. 1.]]

In [ ]:
a=np.eye(4, k=1,
dtype=float)
print(a)

[[0. 1. 0. 0.]
 [0. 0. 1. 0.]
 [0. 0. 0. 1.]
 [0. 0. 0. 0.]]

In [ ]:
a = np.array([1,2,3], float)
b = np.array([5,2,6],
float)
print("A:")
print(a)
print("B:")
print(b)
print("A+B:")
print(a+b)
print("A-B:")
print(a-b)
print("A*B:")
print(a*b)
print("A/B:")
print(a/b)
print("A%B:")
print(a%b)
print("B^A:")
print(b**a)

A:
[1. 2. 3.]
B:
[5. 2. 6.]
A+B:
[6. 4. 9.]
A-B:
[-4.  0. -3.]
A*B:
[ 5.  4. 18.]
A/B:
[0.2 1.  0.5]
A%B:
[1. 0. 3.]
B^A:
[  5.   4. 216.]

In [ ]:
a = np.array([[1,2], [3,4]], float)
b = np.array([[2,0], [1,3]],
float)
c=a * b
print(c)

[[ 2.  0.]
 [ 3. 12.]]

In [ ]:
a = np.array([1,2,3],
float)
b = np.array([4,5], float)
c=a + b
print(c)

ValueError: ignored

In [ ]:
a = np.array([[1, 2], [3, 4], [5, 6]],
float)

b = np.array([-1, 3], float)
print("A:")
print(a)
print("B:")
print(b)
print("A+B")
print(a+b)

A:
[[1. 2.]
 [3. 4.]
 [5. 6.]]
B:
[-1.  3.]
A+B
[[0. 5.]
 [2. 7.]
 [4. 9.]]

In [ ]:
a = np.zeros((2,2), float)
b = np.array([-1., 3.], float)
print("A:")
print(a)
print("B:")
print(b)
print("A+B:")
print(a+b)
print("a + b[np.newaxis,:]:")

print(a + b[np.newaxis,:])
print("a + b[:,np.newaxis]:")
print(a + b[:,np.newaxis])

A:
[[0. 0.]
 [0. 0.]]
B:
[-1.  3.]
A+B:
[[-1.  3.]
 [-1.  3.]]
a + b[np.newaxis,:]:
[[-1.  3.]
 [-1.  3.]]
a + b[:,np.newaxis]:
[[-1. -1.]
 [ 3.  3.]]

In [ ]:
a = np.array([1, 4, 9],
float)
print("A:")
print(a)
print("sqrt(a):")
b=np.sqrt(a)
print(b)

A:
[1. 4. 9.]
sqrt(a):
[1. 2. 3.]

In [ ]:
a = np.array([1.1, 1.5, 1.9],

float)
print("A:")
print(a)
print("floor(a):")
b=np.floor(a)
print(b)
print("ceil(a):")
c=np.ceil(a)
print(c)
print("rint(a):")
d=np.rint(a)
print(d)

A:
[1.1 1.5 1.9]
floor(a):
[1. 1. 1.]
ceil(a):
[2. 2. 2.]
rint(a):
[1. 2. 2.]

In [ ]:
print("PI:", np.pi)
print("E:", np.e)

PI: 3.141592653589793
E: 2.718281828459045

In [ ]:
a = np.array([1, 4, 5],
int)
for x in a:
  print(x)

1
4
5

In [ ]:
a = np.array([[1, 2], [3, 4], [5, 6]],
float)
for x in a:
  print(x)

[1. 2.]
[3. 4.]
[5. 6.]

In [ ]:
a = np.array([[1, 2], [3, 4], [5, 6]],
float)
for (x, y) in a:
  print (x * y)

2.0
12.0
30.0

In [ ]:
a = np.array([2, 4, 3],
float)
S= a.sum()
P=a.prod()
print(' S=',S, 'P=',P)

 S= 9.0 P= 24.0

In [ ]:
a = np.array([2, 4, 3],
float)
S= np.sum(a)
P=np.prod(a)
print('S=',S, 'P=',P)

S= 9.0 P= 24.0

In [ ]:
a = np.array([2, 1, 9], float)
SA=a.mean()
Var=a.var()
Dev=a.std()
print("SA=", SA, " Var=", Var, " Dev=",
Dev)

SA= 4.0  Var= 12.666666666666666  Dev= 3.559026084010437

In [ ]:
a = np.array([2, 1, 9], float)
Min=a.min()
Max= a.max()
print("Min=", Min, "Max=", Max)

Min= 1.0 Max= 9.0

In [ ]:
a = np.array([2, 1, 9,4,6,15], float)
Imin=a.argmin()
Imax= a.argmax()

print("Imin=", Imin, " Imax=",Imax)

Imin= 1  Imax= 5

In [ ]:
a = np.array([[0, 2], [3, -1], [3, 5]],
float)
print(a)
print()
M0=a.mean(axis=0)
M1=a.mean(axis=1)
print("Mean0=", M0)
print("Mean1=", M1)
Min1= a.min(axis=1)
Max0= a.max(axis=0)
print("Min1=", Min1)
print("Max0=", Max0)

[[ 0.  2.]
 [ 3. -1.]
 [ 3.  5.]]

Mean0= [2. 2.]
Mean1= [1. 1. 4.]
Min1= [ 0. -1.  3.]
Max0= [3. 5.]

In [ ]:
a = np.array([6, 2, 5, -1, 0],
float)
b=sorted(a)
print(b)
c=a.sort()
print(c)

[-1.0, 0.0, 2.0, 5.0, 6.0]
None

In [ ]:
a = np.array([6, 2, 5, -1, 0],
float)
print(a)
b= a.clip(0, 5)
print(b)

[ 6.  2.  5. -1.  0.]
[5. 2. 5. 0. 0.]

In [ ]:
a = np.array([1, 1, 4, 5, 5, 5, 7],
float)
print(a)
b=np.unique(a)
print(b)

[1. 1. 4. 5. 5. 5. 7.]
[1. 4. 5. 7.]

In [ ]:
a = np.array([[1, 2], [3, 4]],
float)
print(a)
print()
b=a.diagonal()
print(b)

[[1. 2.]
 [3. 4.]]

[1. 4.]

In [ ]:
a = np.array([1, 3, 0], float)
b = np.array([0, 3, 2],
float)
print("A:")
print(a)
print("B:")
print(b)
c=a>b
print("a>b:")
print(c)
d=a == b
print("a==b:")
print(d)
e=a <= b
print("a<=b:")
print(e)

A:
[1. 3. 0.]
B:
[0. 3. 2.]
a>b:
[ True False False]
a==b:
[False  True False]
a<=b:
[False  True  True]

In [ ]:
a = np.array([1, 3, 0],
float)
print("A:")
print(a)
b=a > 2

print("a>2:")
print(b)

A:
[1. 3. 0.]
a>2:
[False  True False]

In [ ]:
a = np.array([ True, False, False],
bool)
print("A:")
print(a)
print("Any:")
b=any(a)
print(b)
print("All:")
c=all(a)
print(c)

A:
[ True False False]
Any:
True
All:
False

In [ ]:
a = np.array([1, 3, 0], float)
aland=np.logical_and(a > 0, a < 3)
print("A:")
print(a)
print("logical_and(a > 0, a < 3)")
print(aland)
b = np.array([True, False, True], bool)
blnot= np.logical_not(b)
print("B:")
print(b)
print("logical_not(b)")
print(blnot)

c = np.array([False, True, False],
bool)
clor=np.logical_or(b, c)
print("C:")
print(c)
print("logical_or(b, c)")
print(clor)

A:
[1. 3. 0.]
logical_and(a > 0, a < 3)
[ True False False]
B:
[ True False  True]
logical_not(b)
[False  True False]
C:
[False  True False]
logical_or(b, c)
[ True  True  True]

In [ ]:
a = np.array([1, 3, 0], float)
b=np.where(a != 0, 1 / a, a)
print("A:")
print(a)
print("where(a != 0, 1 / a,a):")
print(b)

A:
[1. 3. 0.]
where(a != 0, 1 / a,a):
[1.         0.33333333 0.        ]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: RuntimeWarning: divide by zero encountered in true_divide

In [ ]:
a = np.array([1, 3, 0],
float)
b=np.where(a > 0, 3, 2)

print("A:")
print(a)
print("where(a > 0, 3, 2):")
print(b)

A:
[1. 3. 0.]
where(a > 0, 3, 2):
[3 3 2]

In [ ]:
a=np.array([[0, 1], [3, 0]],
float)
b=a.nonzero()
print("A:")
print(a)
print("B:")
print(b)

A:
[[0. 1.]
 [3. 0.]]
B:
(array([0, 1]), array([1, 0]))

In [ ]:
a = np.array([1, np.NaN, np.Inf],
float)
print("A:")
print(a)
b= np.isnan(a)
print("isNan(a):")
print(b)
c=np.isfinite(a)
print("isfinite(a):")

print(c)

A:
[ 1. nan inf]
isNan(a):
[False  True False]
isfinite(a):
[ True False False]

![image.png]()

In [ ]:
x = np.linspace(-2 * np.pi, 2 * np.pi, 20)
print("x:")
print(x)
y=np.sin(x)**2 + np.cos(x)**2
print("y:")
print(y)
z=np.all((np.sin(x)**2 + np.cos(x)**2).round() ==
1)
print("z:")
print(z)

x:
[-6.28318531 -5.62179738 -4.96040945 -4.29902153 -3.6376336  -2.97624567
 -2.31485774 -1.65346982 -0.99208189 -0.33069396  0.33069396  0.99208189
  1.65346982  2.31485774  2.97624567  3.6376336   4.29902153  4.96040945
  5.62179738  6.28318531]
y:
[1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.]
z:
True

In [ ]:
a = np.array([[6, 4], [5, 9]],
float)
print("A:")
print(a)
b=a >= 6
print("a >= 6:")
print(b)
c= a[a >= 6]
print("a[a >= 6]:")
print(c)

A:
[[6. 4.]
 [5. 9.]]
a >= 6:
[[ True False]
 [False  True]]
a[a >= 6]:
[6. 9.]

In [ ]:
a = np.array([[6, 4], [5, 9]],
float)
print("A:")

print(a)
sel = (a >= 6)
print("a[a >= 6]:")
print(a[sel])

A:
[[6. 4.]
 [5. 9.]]
a[a >= 6]:
[6. 9.]

In [ ]:
a = np.array([[6, 4], [5, 9]], float)
print("A:")
print(a)
b=a[np.logical_and(a > 5, a < 9)]
print("logical_and(a > 5, a < 9):")
print(b)

A:
[[6. 4.]
 [5. 9.]]
logical_and(a > 5, a < 9):
[6.]

In [ ]:
a= np.array([2, 4, 6, 8], float)
b = np.array([0, 0, 1, 3, 2, 1],
int)
print("A:")
print(a)
print("B:")
print(b)
c=a[b]

print("a[b]:")
print(c)

A:
[2. 4. 6. 8.]
B:
[0 0 1 3 2 1]
a[b]:
[2. 2. 4. 8. 6. 4.]

In [ ]:
a= np.array([2, 4, 6, 8],
float)
print("A:")
print(a)
c=a[[0, 0, 1, 3, 2, 1]]
print("a[[0, 0, 1, 3, 2, 1]]:")
print(c)

A:
[2. 4. 6. 8.]
a[[0, 0, 1, 3, 2, 1]]:
[2. 2. 4. 8. 6. 4.]

In [ ]:
a = np.array([[1, 4], [9, 16]],
float)
b = np.array([0, 0, 1, 1, 0], int)
c = np.array([0, 1, 1, 1, 1], int)
print("A:")
print(a)
print("B:")

print(b)
print("C:")
print(c)
d=a[b,c]
print("a[b,c]:")
print(d)

A:
[[ 1.  4.]
 [ 9. 16.]]
B:
[0 0 1 1 0]
C:
[0 1 1 1 1]
a[b,c]:
[ 1.  4. 16. 16.  4.]

In [ ]:
a = np.array([2, 4, 6, 8], float)
b = np.array([0, 0, 1, 3, 2, 1],
int)
print("A:")
print(a)
print("B:")
print(b)
c= a.take(b)
print("a.take(b):")
print(c)

A:
[2. 4. 6. 8.]
B:
[0 0 1 3 2 1]
a.take(b):
[2. 2. 4. 8. 6. 4.]

In [ ]:
a = np.array([[0, 1], [2, 3]],
float)
b = np.array([0, 0, 1], int)
print("A:")
print(a)
print("B:")
print(b)
c=a.take(b, axis=0)
print("a.take(b, axis=0):")
print(c)
d=a.take(b, axis=1)
print("a.take(b, axis=1):")
print(d)

A:
[[0. 1.]
 [2. 3.]]
B:
[0 0 1]
a.take(b, axis=0):
[[0. 1.]
 [0. 1.]
 [2. 3.]]
a.take(b, axis=1):
[[0. 0. 1.]
 [2. 2. 3.]]

In [ ]:
a = np.array([0, 1, 2, 3, 4, 5],
float)
b = np.array([9, 8, 7], float)
print("A:")
print(a)

print("B:")
print(b)
a.put([0, 3], b)
print("a.put([0, 3], b):")
print(a)

A:
[0. 1. 2. 3. 4. 5.]
B:
[9. 8. 7.]
a.put([0, 3], b):
[9. 1. 2. 8. 4. 5.]

In [ ]:
a = np.array([0, 1, 2, 3, 4, 5],
float)
print("A:")
print(a)
a.put([0, 3], 5)
print("a.put([0, 3], 5):")
print(a)

A:
[0. 1. 2. 3. 4. 5.]
a.put([0, 3], 5):
[5. 1. 2. 5. 4. 5.]

Напишите программу NumPy для преобразования заданного массива в байты и загрузите его как массив.

In [ ]:
a = np.a([1, 2, 3, 4, 5, 6])
print(a)
a_bytes = a.tobytes()
print(a_bytes)
a2 = np.frombuffer(a_bytes, dtype=a.dtype)
print(a2)

[1 2 3 4 5 6]
b'\x01\x00\x00\x00\x00\x00\x00\x00\x02\x00\x00\x00\x00\x00\x00\x00\x03\x00\x00\x00\x00\x00\x00\x00\x04\x00\x00\x00\x00\x00\x00\x00\x05\x00\x00\x00\x00\x00\x00\x00\x06\x00\x00\x00\x00\x00\x00\x00'
[1 2 3 4 5 6]

Напишите программу NumPy для преобразования заданного массива в байты и загрузите его как массив.

In [ ]:
a = np.a([1, 2, 3, 4, 5, 6])
print(a)
a_bytes = a.tobytes()
print(a_bytes)
a2 = np.frombuffer(a_bytes, dtype=a.dtype)
print(a2)

[1 2 3 4 5 6]
b'\x01\x00\x00\x00\x00\x00\x00\x00\x02\x00\x00\x00\x00\x00\x00\x00\x03\x00\x00\x00\x00\x00\x00\x00\x04\x00\x00\x00\x00\x00\x00\x00\x05\x00\x00\x00\x00\x00\x00\x00\x06\x00\x00\x00\x00\x00\x00\x00'
[1 2 3 4 5 6]

Напишите программу NumPy для создания массива из 10 нулей, 10 единиц, 10 пятерок.

In [ ]:
a=np.zeros(10)
print(a)
a=np.ones(10)
print(a)
a=np.ones(10)*5
print(a)

[0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]
[1. 1. 1. 1. 1. 1. 1. 1. 1. 1.]
[5. 5. 5. 5. 5. 5. 5. 5. 5. 5.]

Напишите программу NumPy для создания вектора длиной 5, заполненного произвольными целыми числами от 0 до 10

In [ ]:
a = np.random.randint(0, 11, 5)
print(a)

[1 1 2 3 2]

Напишите программу NumPy для вычисления внутреннего произведения двух заданных векторов.

In [ ]:
x = np.array([4, 5])
y = np.array([7, 10])
print(x)
print(y)
print(np.dot(x, y))

[4 5]
[ 7 10]
78

Напишите программу NumPy для создания матрицы 3х3 со значениями от 2 до 10.

In [ ]:
x =  np.arange(2, 11).reshape(3,3)
print(x)

[[ 2  3  4]
 [ 5  6  7]
 [ 8  9 10]]

Напишите программу NumPy для создания пустого и полного массива.

In [ ]:
x = np.empty((3,4))
print(x)
y = np.full((3,3),6)
print(y)

[[0. 0. 0. 0.]
 [0. 0. 0. 0.]
 [0. 0. 0. 0.]]
[[6 6 6]
 [6 6 6]
 [6 6 6]]

Напишите программу NumPy, чтобы найти объединение двух массивов. Union вернет уникальный отсортированный массив значений, которые находятся в любом из двух входных массивов.

In [ ]:
array1 = np.array([0, 10, 20, 40, 60, 80])
print(array1)
array2 = [10, 30, 40, 50, 70]
print(array2)
print(np.union1d(array1, array2))

[ 0 10 20 40 60 80]
[10, 30, 40, 50, 70]
[ 0 10 20 30 40 50 60 70 80]

 Напишите программу NumPy, чтобы найти объем памяти массива NumPy.

In [ ]:
n = np.zeros((4,4))
print("%d bytes" % (n.size * n.itemsize))

128 bytes

Напишите программу NumPy для создания двумерного массива, диагональ которого равна [4, 5, 6, 8] и 0 где-либо еще.

In [ ]:
x =  np.diagflat([4, 5, 6, 8])
print(x)

[[4 0 0 0]
 [0 5 0 0]
 [0 0 6 0]
 [0 0 0 8]]

Напишите программу NumPy для перемещения указанной оси назад, пока она не окажется в заданной позиции.

In [ ]:
x = np.ones((2,3,4,5))
print(np.rollaxis(x, 2, 0).shape)

(4, 2, 3, 5)

Напишите программу NumPy, чтобы получить количество ненулевых элементов в массиве.

In [ ]:
x = np.array([[0, 10, 20], [20, 30, 40]])
print(x)
print(np.count_nonzero(x))

[[ 0 10 20]
 [20 30 40]]
5

Напишите программу NumPy для создания массива (3, 4) формы, умножьте значение каждого элемента на 3 и отобразите новый массив.

In [ ]:
x= np.arange(12).reshape(3, 4)
print(x)
for a in np.nditer(x, op_flags=['readwrite']):
    a[...] = 3 * a
print(x)

[[ 0  1  2  3]
 [ 4  5  6  7]
 [ 8  9 10 11]]
[[ 0  3  6  9]
 [12 15 18 21]
 [24 27 30 33]]

Напишите программу NumPy для преобразования массива чисел с плавающей точкой в массив целых чисел

In [ ]:
x= np.array([[12.0, 12.51], [2.34, 7.98], [25.23, 36.50]])
print(x)
print(x.astype(int))

[[12.   12.51]
 [ 2.34  7.98]
 [25.23 36.5 ]]
[[12 12]
 [ 2  7]
 [25 36]]

Напишите программу NumPy, чтобы получить величину вектора в numpy.

In [ ]:
x = np.array([1,2,3,4,5])
print(x)
print(np.linalg.norm(x))

[1 2 3 4 5]
7.416198487095663

Напишите программу NumPy для расчета евклидова расстояния.

In [ ]:
from scipy.spatial import distance
p1 = (1, 2, 3)
p2 = (4, 5, 6)
d = distance.euclidean(p1, p2)
print(d)

5.196152422706632

Напишите программу NumPy для построения массива всех комбинаций из трех числовых массивов.

In [ ]:
x = [1, 2, 3]
y = [4, 5]
z = [6, 7]
print(x)
print(y)
print(z)
new_array = np.array(np.meshgrid(x, y, z)).T.reshape(-1,3)
print(new_array)

[1, 2, 3]
[4, 5]
[6, 7]
[[1 4 6]
 [1 5 6]
 [2 4 6]
 [2 5 6]
 [3 4 6]
 [3 5 6]
 [1 4 7]
 [1 5 7]
 [2 4 7]
 [2 5 7]
 [3 4 7]
 [3 5 7]]

Напишите программу NumPy для создания двух массивов, когда размер больше или меньше заданного массива.

In [ ]:
x = np.arange(16).reshape(4,4)
print(x)
new_array1 = np.resize(x,(2,2))
print(new_array1)
new_array2 = np.resize(x,(6,6))
print(new_array2)

[[ 0  1  2  3]
 [ 4  5  6  7]
 [ 8  9 10 11]
 [12 13 14 15]]
[[0 1]
 [2 3]]
[[ 0  1  2  3  4  5]
 [ 6  7  8  9 10 11]
 [12 13 14 15  0  1]
 [ 2  3  4  5  6  7]
 [ 8  9 10 11 12 13]
 [14 15  0  1  2  3]]

Напишите программу NumPy для подсчета количества измерений, количества элементов и количества байтов для каждого элемента в данном массиве.

In [ ]:
x = np.array([[ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11],
       [12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23]])
print(x)
print(x.ndim)
print(x.size)
print(x.itemsize)

[[ 0  1  2  3  4  5  6  7  8  9 10 11]
 [12 13 14 15 16 17 18 19 20 21 22 23]]
2
24
8

Напишите программу NumPy для извлечения первого элемента второй строки и четвертого элемента четвертой строки из заданного (4x4) массива.

In [ ]:
arra_data = np.arange(0,16).reshape((4, 4))
print(arra_data)
print(arra_data[[1,3], [0,3]])

[[ 0  1  2  3]
 [ 4  5  6  7]
 [ 8  9 10 11]
 [12 13 14 15]]
[ 4 15]

Напишите программу NumPy для извлечения верхней треугольной части матрицы NumPy.

In [ ]:
num = np.arange(18)
arr1 = np.reshape(num, [6, 3])
print(arr1)
result  = arr1[np.triu_indices(3)]
print(result)
result  = arr1[np.triu_indices(2)]
print(result)

[[ 0  1  2]
 [ 3  4  5]
 [ 6  7  8]
 [ 9 10 11]
 [12 13 14]
 [15 16 17]]
[0 1 2 4 5 8]
[0 1 4]

Напишите программу NumPy для вычисления перекрестного произведения двух заданных векторов.

In [ ]:
p = [[1, 0], [0, 1]]
q = [[1, 2], [3, 4]]
print(p)
print(q)
result1 = np.cross(p, q)
result2 = np.cross(q, p)
print(result1)
print(result2)

[[1, 0], [0, 1]]
[[1, 2], [3, 4]]
[ 2 -3]
[-2  3]

Напишите программу NumPy для расчета QR-разложения данной матрицы

In [ ]:
m = np.array([[1,2],[3,4]])
print(m)
result =  np.linalg.qr(m)
print(result)

[[1 2]
 [3 4]]
(array([[-0.31622777, -0.9486833 ],
       [-0.9486833 ,  0.31622777]]), array([[-3.16227766, -4.42718872],
       [ 0.        , -0.63245553]]))

Напишите программу NumPy для создания массива 3x3x3 со случайными значениями.

In [ ]:
x = np.random.random((3,3,3))
print(x)

[[[0.97011078 0.75555853 0.26259649]
  [0.80704668 0.6436173  0.85663431]
  [0.24546322 0.59805397 0.67637942]]

 [[0.08530689 0.76906985 0.84578665]
  [0.59446133 0.64209853 0.26983545]
  [0.81285597 0.9885349  0.41683281]]

 [[0.6236616  0.88750694 0.30335082]
  [0.05199659 0.67024858 0.22772363]
  [0.32921129 0.63670736 0.09075902]]]

Напишите программу NumPy, чтобы найти наиболее частое значение в массиве.

In [ ]:
x = np.random.randint(0, 10, 40)
print(x)
print(np.bincount(x).argmax())

[2 6 6 8 8 3 8 3 8 7 9 0 7 5 5 4 2 1 8 5 9 5 9 8 5 7 4 2 1 1 4 6 6 2 0 1 9
 1 1 6]
1

Напишите программу NumPy для создания структурированного массива из заданного имени ученика, роста, класса и их типов данных. Теперь сортируйте по классу, затем по высоте, если класс равен

In [ ]:
data_type = [('name', 'S15'), ('class', int), ('height', float)]
students_details = [('James', 5, 48.5), ('Nail', 6, 52.5),('Paul', 5, 42.10), ('Pit', 5, 40.11)]
students = np.array(students_details, dtype=data_type)   
print(students)
print(np.sort(students, order=['class', 'height']))

[(b'James', 5, 48.5 ) (b'Nail', 6, 52.5 ) (b'Paul', 5, 42.1 )
 (b'Pit', 5, 40.11)]
[(b'Pit', 5, 40.11) (b'Paul', 5, 42.1 ) (b'James', 5, 48.5 )
 (b'Nail', 6, 52.5 )]

Напишите программу NumPy, чтобы получить истинное деление входов массива элементов.

In [ ]:
x = np.arange(10)
print(x)
print(np.true_divide(x, 3))

[0 1 2 3 4 5 6 7 8 9]
[0.         0.33333333 0.66666667 1.         1.33333333 1.66666667
 2.         2.33333333 2.66666667 3.        ]

Напишите программу NumPy для создания внутреннего продукта из двух массивов.

In [ ]:
x = np.arange(24).reshape((2,3,4))
print(x)
y = np.arange(4)
print(y)
print(np.inner(x, y))

[[[ 0  1  2  3]
  [ 4  5  6  7]
  [ 8  9 10 11]]

 [[12 13 14 15]
  [16 17 18 19]
  [20 21 22 23]]]
[0 1 2 3]
[[ 14  38  62]
 [ 86 110 134]]

Напишите программу NumPy для преобразования углов из радианов в градусы для всех элементов в данном массиве.  
Входные данные: [-np.pi, -np.pi / 2, np.pi / 2, np.pi]
Образец вывода:
[-180. -90. 90. 180.]

In [ ]:
x = np.array([-np.pi, -np.pi/2, np.pi/2, np.pi])
r1 = np.degrees(x)
r2 = np.rad2deg(x)
assert np.array_equiv(r1, r2)
print(r1)

[-180.  -90.   90.  180.]

 Напишите программу NumPy для вычисления 2p для всех элементов в данном массиве.  
Образец вывода:
Исходный массив:
[1. 2. 3. 4.]
2 ^ p для всех элементов указанного массива:
[2. 4. 8. 16.]

In [ ]:
x = np.array([1., 2., 3., 4.], np.float32)
print(x)
r1 = np.exp2(x)
r2 = 2 ** x
assert np.allclose(r1, r2)
print(r1)

[1. 2. 3. 4.]
[ 2.  4.  8. 16.]

Напишите программу NumPy, чтобы вычислить разницу между максимальным и минимальным значениями данного массива вдоль второй оси.  
Ожидаемый результат:
Исходный массив:
[[0 1 2 3 4 5]
[6 7 8 9 10 11]]
Разница между максимальным и минимальным значениями указанного массива:
[5 5]

In [ ]:
x = np.arange(12).reshape((2, 6))
print(x)
r1 = np.ptp(x, 1)
r2 = np.amax(x, 1) - np.amin(x, 1)
assert np.allclose(r1, r2)
print(r1)

[[ 0  1  2  3  4  5]
 [ 6  7  8  9 10 11]]
[5 5]

Напишите программу на Python для подсчета количества вхождений каждого значения в данный массив неотрицательных целых чисел. Перейти к редактору
Примечание: функция bincount () считает количество вхождений каждого значения в массив неотрицательных целых чисел в диапазоне массива между минимальным и максимальным значениями, включая значения, которые не встречались.
Пример вывода:
Исходный массив:
[0, 1, 6, 1, 4, 1, 2, 2, 7]
Количество вхождений каждого значения в массиве:
[1 3 2 0 1 0 1 1]

In [ ]:
array1 = [0, 1, 6, 1, 4, 1, 2, 2, 7] 
print(array1)
print(np.bincount(array1))

[0, 1, 6, 1, 4, 1, 2, 2, 7]
[1 3 2 0 1 0 1 1]

Напишите программу NumPy для подсчета количества дней определенного месяца.  
Ожидаемый результат:

Количество дней, февраль 2016 года:
29 дней

Количество дней, февраль 2017 года:
28 дней

Количество дней, февраль 2018 года:
28 дней

In [ ]:
print("Number of days, February, 2016: ")
print(np.datetime64('2016-03-01') - np.datetime64('2016-02-01'))
print("Number of days, February, 2017: ")
print(np.datetime64('2017-03-01') - np.datetime64('2017-02-01'))
print("Number of days, February, 2018: ")
print(np.datetime64('2018-03-01') - np.datetime64('2018-02-01'))

Number of days, February, 2016:
29 days
Number of days, February, 2017:
28 days
Number of days, February, 2018:
28 days

Напишите программу NumPy, в которой прописными буквами будут прописные буквы, строчные буквы, прописные буквы, прописные буквы, заглавные буквы всех элементов данного массива.  
Ожидаемый результат:

Оригинальный массив:
['python' 'PHP' 'java' 'C ++']

С большой буквы: ['Python' 'Php' 'Java' 'C ++']

Понижено: ['python' 'php' 'java' 'c ++']

Uppered: ['PYTHON' 'PHP' 'JAVA' 'C ++']

Swapcased: ['PYTHON' 'php' 'JAVA' 'c ++']

Titlecased: ['Python' 'Php' 'Java' 'C ++']

In [ ]:
x = np.array(['python', 'PHP', 'java', 'C++'], dtype=str)
print(x)
capitalized_case = np.char.capitalize(x)
lowered_case = np.char.lower(x)
uppered_case = np.char.upper(x)
swapcased_case = np.char.swapcase(x)
titlecased_case = np.char.title(x)
print("\nCapitalized: ", capitalized_case)
print("Lowered: ", lowered_case)
print("Uppered: ", uppered_case)
print("Swapcased: ", swapcased_case)
print("Titlecased: ", titlecased_case)

['python' 'PHP' 'java' 'C++']

Capitalized:  ['Python' 'Php' 'Java' 'C++']
Lowered:  ['python' 'php' 'java' 'c++']
Uppered:  ['PYTHON' 'PHP' 'JAVA' 'C++']
Swapcased:  ['PYTHON' 'php' 'JAVA' 'c++']
Titlecased:  ['Python' 'Php' 'Java' 'C++']

Напишите программу NumPy, чтобы заменить «PHP» на «Python» в элементе данного массива.  
Пример вывода:

Оригинальный массив:
['PHP Упражнения, Практика, Решение']

Новый массив:
['Упражнения на Python, практика, решение']

In [ ]:
x = np.array(['PHP Упражнения, Практика, Решение'], dtype=str)
print(x)
r = np.char.replace(x, "PHP", "Python")
print(r)

['PHP Упражнения, Практика, Решение']
['Python Упражнения, Практика, Решение']